@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Montserrat Alternates;
  src: url("../src/Components/Assets/fonts/MontserratAlternates-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: poppins;
  src: url("../src/Components/Assets/fonts/Poppins-Regular.ttf")
    format("truetype");
}

body {
  font-family: poppins;
}
html, body {
  overflow: hidden;
}

/* 
 ========================== 

 Color Code Scheme

 ========================== 
*/

:root {
  --admin-color: #a8e6cf;
  --admin-light-color: #cbf0e2;
  --cashier-main-color: #d79555;
  --cashier-color: #ffdab9;
  --cashier-light-color: #ffe9d5;
  --staff-color: #fff9b0;
  --captain-color: #e3d6f7;
  --chef-color: #ffb3ab;
  --light-color: #f5f5f5;
  --gray-light-color: #FAFAFA;
  --red-color: #dc143c;
  --green-color: #2FDA32;
  --yellow-color: #ffd700;
  --purple-color: #6a5acd;
  --sidebar-light: #db9f66;
  --black-color: #111111;
  --gray-color: #707070;
  --select-section: #F6F0E9;
  --light-gray-color: #A1A1A1;
  --dark-green-color: #7A8450;
  --light-purple-color: #CFBCDF;
  --dark-bule-color: #469DCF;
}



/* 
 =========================

 Background Color Scheme

 ========================= 
*/

.bg-admin {
  background-color: var(--admin-color);
}

.cashier-main-bg-color {
  background-color: var(--cashier-main-color);
}

.cashier-light-bg-color {
  background-color: var(--cashier-light-color);
}

.cashier-bg-table-color {
  background-color: rgba(255, 233, 213, 0.5);
}

.bg-light-green {
  background-color: rgba(47, 218, 50, 0.05);
}

.bg-color-red {
  background-color: rgba(218, 50, 47, 0.05);
}

.bg-light-yellow {
  background-color: rgba(255, 215, 0, 0.1);
}

.bg-purple-btn {
  background-color: var(--purple-color);
}

.bg-green-color {
  background-color: var(--green-color);
}

.bg-color-gray {
  background-color: rgba(112, 112, 112, 0.1);
}

.bg-light-gray-color {
  background-color: var(--light-gray-color);
}

.bg-green-color {
  background-color: var(--green-color);
}

.bg-red-color {
  background-color: var(--red-color);
}

.bg-light-color {
  background-color: var(--light-color);
}

.bg-dark-green-color {
  background-color: var(--dark-green-color);
}

.bg-dark-blue-color {
  background-color: var(--dark-bule-color);
}

.bg-light-purple-color {
  background-color: var(--light-purple-color);
}

.bg-gray-light-color{
background-color: var(--gray-light-color);
}
/* 
  =========================

  Text Color Scheme

  =========================
*/

.cashier-main-text-color {
  color: var(--cashier-main-color);
}

.text-light-green {
  color: #2fda32;
}

.text-color-red {
  color: #da322f;
}

.text-color-black {
  color: var(--black-color);
}

.text-color-gray {
  color: var(--gray-color);
}

.text-light-gray-color {
  color: var(--light-gray-color);
}

/* 
  =========================

  Border Color Scheme

  =========================
*/

.menu-green-borderCard {
  border-left: 3px solid #2fda32;
}

.menu-red-borderCard {
  border-left: 3px solid #da322f;
}

.border-cashier {
  border: 2px solid var(--cashier-main-color);
}

.border-light-gray {
  border: 1px solid var(--light-gray-color);
}

/* 
  =========================

  Font Size Scheme

  =========================
*/

.cashier-main-font-size {
  font-size: 24px;
}

.font-size-medium {
  font-size: 18px;
}

/* 
  =========================

  Font Family Scheme

  =========================
*/

/* Montserrat Alternates: CSS classes */

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 900;
  font-style: italic;
}

/* Poppins: CSS classes */

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

/* 
  =========================

  Button Styles

  =========================
*/

.btn-cashier-main {
  background-color: var(--cashier-main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

/* 
  =========================

  Sidebar CSS Design

  =========================
*/
.sidebar-li:hover .sidebar-icon {
  background: var(--sidebar-light);
}

.sidebar-li-active .sidebar-icon {
  background: var(--sidebar-light);
}

.right-sidebar-dropshadow {
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.15));
  /* box-shadow: 2px 0px 12px 1px rgba(0, 0, 0, 0.15); */

}

/* 
  =========================

  MENU PAGE CSS

  =========================
*/
.slider-container {
  /* text-align: center; */
  position: relative;
  overflow: hidden;
  /* Hide overflow to only show visible items */
}

.slider-overlay {
  width: 100%;
  overflow: hidden;
  /* Hide overflow for sliding effect */
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* For smooth transition */
}

.slider-item {
  min-width: 9%;
  /* Set width based on items to show */
  box-sizing: border-box;
  /* Ensure padding and border are included in total width */
  padding: 10px;
  /* Optional padding */
}

.active-image {
  border: 4px solid var(--cashier-main-color);
  border-radius: 10px;
}

.menu-category-next {
  position: absolute;
  top: 3.5rem;
  right: 0;
}

.menu-category-prev {
  position: absolute;
  top: 3.5rem;
  left: 0;
}

/* 
  =========================

  Responsive Design

  =========================
*/

@media screen and (max-width: 768px) {
  .hidden-tablet {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hidden-mobile {
    display: none;
  }
}

/* 
  =========================

  Transition Effects

  =========================
*/

.animated {
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.background-img {
  background-image: url(../src/Components/Assets/Images/background/background-img.png);
  background-position: center, center;
  background-size: contain;  
}

/* ---------right side bar-------------- */

/* --------------- scroll bar css ----------------- */
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

/* --------------------------- */

.slick-current img {
  border: 4px solid var(--cashier-main-color);
  border-radius: 15px;
}

/* --------------------- Schedule Page Css-------------------------- */